.inputTextWidth {
    width: 120px !important;
    float: right !important;
}

.sapUiFormResLayout .sapUiRFLRow:first-child>.sapUiRFLContainer:first-child>.sapUiRFLContainerContent>.sapMLabel {
    text-align: left !important;
}

.sapMILILabel {
    white-space: normal !important;
}

.toolbarColorProp {
    background-color: #168282;
    color: white;
    padding: 14px !important;
    font-style: italic !important;
}
.proposeLabel80c{
	margin-left:45px;
}

.toolbarText > bdi {
    color: white;
    padding: 0px;
    margin-right:0px;
    
    
}

.sapUiMedia-Std-Desktop .sapUxAPObjectPageHeaderContent {
    padding-left: 1.5rem !important;
    display: flex !important;
    word-spacing: normal !important;
}

.sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem {
    padding: 1rem !important;
    margin-right: none !important;
}

.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0>.sapUiRespGridSpanL1 {
    width: auto;
}


/***************** Responsive view for mobile view *****************/

@media (max-width: 440px) {
    .sapMILI {
        height: 6rem !important;
    }
    /*    #__title2-inner{
        font-size: 0.8rem !important;
    }*/
}

@media (max-width:440px) {
    .sapMILILabel {
        white-space: pre-wrap;
        overflow: visible;
        font-size: 0.9rem;
    }
}


/*********************** Income Tax Projection report ************************/

#btn {
    /*    width:100px;
    height:60px;*/
    /*margin-top:10px;
    margin-bottom:10px;*/
    font-size: 22px;
    font-weight: 1000 !important;
    position: absolute;
    top: 10px !important;
    right: 10px !important;
    transition: transform .2s;
    cursor: pointer
}

#btn:hover {
    transform: scale(1.1);
}

#error_box {
    max-height: 358px;
    min-width: 260px;
    display: block;
    position: absolute;
    visibility: visible;
    z-index: 80;
    left: 37%;
    top: 10%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00000040;
    box-shadow: 1px 1px 2px 2px #88888826;
}

.error {
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}

.error i {
    color: red;
    padding-right: 4px;
}

.msg {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #0000001f;
    border-width: 0.5px;
    font-size: 13px;
}

.btn_box {
    padding-top: 5px;
}

.btn_close {
    float: right;
    padding: 5px 12px 5px 12px;
    border-radius: 3px;
    outline: none;
    border: none;
}

.btn_close:hover {
    border: blue;
    outline: blue;
    color: blue;
}

#span {
    border-bottom: 1px solid black;
}

table {
    width: 100%;
    border: 1px solid black;
    white-space: nowrap;
    border-collapse: collapse;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    /*margin-bottom:50px;*/
}

.bold {
    font-weight: bold !important;
}

thead td {
    text-align: center;
}

thead {
    border-bottom: 1.5px dashed;
}

tbody {
    border-bottom: 1.5px dashed;
}

tbody td {
    padding: 9px;
}

.emp td {
    padding: 6px;
    width: 25%;
}

th {
    text-align: left;
    padding: 6px;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.empData td {
    border: 1px solid black;
    padding: 6px;
}

tr,
td {
    page-break-inside: avoid;
    /*outline: red solid 1px;*/
}

#nextPage {
    page-break-after: always;
}

#img {
    background-image: url('../img/Graphite Logo.png');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
    max-width: 70%;
    height: auto;
    /* Resize the background image to cover the entire container */
}


/*.inputTextWidth{
    text-align: center;
}*/


/*********************** Tax80c & Tax80 *************************/

.sapMLIB {
    border-bottom: none !important;
}

.sapUiSizeCompact .sapMILI {
    height: 2.5rem !important;
}

.sapUiFupGroup {
    margin-top: 11.1px !important;
}

.displayText80c {
    margin-right: 50px;
}

.btn80c {
    margin-top: 10px !important;
}
.btn80cView {
    
    width: 35px !important;
    float: right;
}
.btn80View {
    
    width: 35px !important;
    float: right;
}
.btnHRA{
	width:150px !important;
	float: right !important;
}
.btnHouseProperty{
		width:150px !important;
		float: right !important;
}
.btnHousePropertyViewFile{
	width: 35px !important;
	float: left !important;
}
.btnPreviousEmpViewFile{
	width: 35px !important;
	float: left;
}

.btnHRAViewFile{
	width: 35px !important;
    /*float: left !important;*/
}

.sapMIBar.sapMTB.sapMTB-Info-CTX>:first-child,
.sapMIBar.sapMTB.sapMTB-Info-CTX>:last-child {
    padding: 0 1.8rem !important;
}

.inputEdit {
    margin: 12px !important;
}


/**** tax 80 *****/

.sapUiRFLRow {
    height: 2.4rem !important;
}

.sapUiFormLblColon .sapUiFormElementLbl>.sapMLabel:after {
    content: none !important;
}

.sapUiRLContainerCont {
    padding: 0px 10px !important;
}

.actualLabel80 {
    margin: 0 15px !important;
}

.proposedAmount {
    /* margin: 0 35px !important; */
    margin-right: 25px !important;
    float: right !important;
}

.btn80 {
    /* min-width: 110px !important;
    width: 18% !important; */
   width: auto !important;
   float: right !important;
}

.sapMInputBaseInner[placeholder] {
    text-align: right !important;
}


/*********** edit in tax 80 **************/

#__xmlview1--editItemActual1-cont0_1,
#__xmlview1--editItemActual2-cont0_1,
#__xmlview1--editItemActual3-cont0_1,
#__xmlview1--editItemActual4-cont0_1,
#__xmlview1--editItemActual5-cont0_1,
#__xmlview1--editItemActual6-cont0_1,
#__xmlview1--editItemActual7-cont0_1,
#__xmlview1--editItemActual8-cont0_1,
#__xmlview1--editItemActual9-cont0_1,
#__xmlview1--editItemActual10-cont0_1,
#__xmlview1--editItemActual11-cont0_1,
#__xmlview1--editItemActual12-cont0_1,
#__xmlview1--editItemActual13-cont0_1,
#__xmlview1--editItemActual14-cont0_1,
#__xmlview1--editItemActual15-cont0_1,
#__xmlview1--editItemActual16-cont0_1,
#__xmlview1--editItemActual17-cont0_1,
#__xmlview1--editItemActual18-cont0_1,
#__xmlview1--editItemActual19-cont0_1,
#__xmlview1--editItemActual20-cont0_1,
#__xmlview1--editItemActual21-cont0_1,
#__xmlview1--editItemActual22-cont0_1,
#__xmlview1--editItemActual23-cont0_1,
#__xmlview1--editItemActual24-cont0_1,
#__xmlview1--editItemActual25-cont0_1,
#__xmlview1--editItemActual26-cont0_1,
#__xmlview1--editItemActual27-cont0_1,
#__xmlview1--editItemActual28-cont0_1,
#__xmlview1--editItemActual29-cont0_1,
#__xmlview1--editItemActual30-cont0_1,
#__xmlview1--editItemActual31-cont0_1,
#__xmlview1--editItemActual32-cont0_1,
#__xmlview1--editItemActual33-cont0_1 {
    min-width: 100px;
    width: 19% !important;
}

#__button2-cont0_0,
#__button3-cont0_0,
#__button4-cont0_0,
#__button5-cont0_0,
#__button6-cont0_0,
#__button7-cont0_0,
#__button8-cont0_0,
#__button9-cont0_0,
#__button10-cont0_0,
#__button11-cont0_0,
#__button12-cont0_0,
#__button13-cont0_0,
#__button14-cont0_0,
#__button15-cont0_0,
#__button16-cont0_0,
#__button17-cont0_0,
#__button18-cont0_0,
#__button19-cont0_0,
#__button20-cont0_0,
#__button21-cont0_0,
#__button22-cont0_0,
#__button23-cont0_0,
#__button24-cont0_0,
#__button25-cont0_0,
#__button26-cont0_0,
#__button27-cont0_0,
#__button28-cont0_0,
#__button29-cont0_0,
#__button30-cont0_0,
#__button31-cont0_0,
#__button32-cont0_0,
#__button33-cont0_0,
#__button34-cont0_0 {
    min-width: 100px;
    width: 18% !important;
}

#__element0--content--RFLayout-row0,
#__element1--content--RFLayout-row0,
#__element2--content--RFLayout-row0,
#__element3--content--RFLayout-row0,
#__element4--content--RFLayout-row0,
#__element5--content--RFLayout-row0,
#__element6--content--RFLayout-row0,
#__element7--content--RFLayout-row0,
#__element8--content--RFLayout-row0,
#__element9--content--RFLayout-row0,
#__element10--content--RFLayout-row0,
#__element11--content--RFLayout-row0,
#__element12--content--RFLayout-row0,
#__element13--content--RFLayout-row0,
#__element14--content--RFLayout-row0,
#__element15--content--RFLayout-row0,
#__element16--content--RFLayout-row0,
#__element17--content--RFLayout-row0,
#__element18--content--RFLayout-row0,
#__element19--content--RFLayout-row0,
#__element20--content--RFLayout-row0,
#__element21--content--RFLayout-row0,
#__element22--content--RFLayout-row0,
#__element23--content--RFLayout-row0,
#__element24--content--RFLayout-row0,
#__element25--content--RFLayout-row0,
#__element26--content--RFLayout-row0,
#__element27--content--RFLayout-row0,
#__element28--content--RFLayout-row0,
#__element29--content--RFLayout-row0,
#__element30--content--RFLayout-row0,
#__element31--content--RFLayout-row0,
#__element32--content--RFLayout-row0 {
    display: flex !important;
    justify-content: flex-end !important;
}


/**************** Display Text control in sec80 *********************/

#__text79-cont0_0,
#__text81-cont0_0,
#__text83-cont0_0,
#__text85-cont0_0,
#__text87-cont0_0,
#__text89-cont0_0,
#__text91-cont0_0,
#__text93-cont0_0,
#__text95-cont0_0,
#__text97-cont0_0,
#__text99-cont0_0,
#__text101-cont0_0,
#__text103-cont0_0,
#__text105-cont0_0,
#__text107-cont0_0,
#__text109-cont0_0,
#__text111-cont0_0,
#__text113-cont0_0,
#__text115-cont0_0,
#__text117-cont0_0,
#__text119-cont0_0,
#__text121-cont0_0,
#__text123-cont0_0,
#__text125-cont0_0,
#__text127-cont0_0,
#__text129-cont0_0,
#__text131-cont0_0,
#__text133-cont0_0,
#__text135-cont0_0,
#__text137-cont0_0,
#__text139-cont0_0,
#__text141-cont0_0,
#__text143-cont0_0,
#__text145-cont0_0,
#__text147-cont0_0,
#__text149-cont0_0 {
    width: 68% !important;
}

#__text80-cont0_1,
#__text82-cont0_1,
#__text84-cont0_1,
#__text86-cont0_1,
#__text88-cont0_1,
#__text90-cont0_1,
#__text92-cont0_1,
#__text94-cont0_1,
#__text96-cont0_1,
#__text98-cont0_1,
#__text100-cont0_1,
#__text102-cont0_1,
#__text104-cont0_1,
#__text106-cont0_1,
#__text108-cont0_1,
#__text110-cont0_1,
#__text112-cont0_1,
#__text114-cont0_1,
#__text116-cont0_1,
#__text118-cont0_1,
#__text120-cont0_1,
#__text122-cont0_1,
#__text124-cont0_1,
#__text126-cont0_1,
#__text128-cont0_1,
#__text130-cont0_1,
#__text132-cont0_1,
#__text134-cont0_1,
#__text136-cont0_1,
#__text138-cont0_1,
#__text140-cont0_1,
#__text142-cont0_1,
#__text144-cont0_1,
#__text146-cont0_1,
#__text148-cont0_1,
#__text150-cont0_1 {
    width: 32% !important;
}