<template data-controller-name="com.infocus.fi.tax.ztaxapp.controller.tax.IncomeTaxReport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<div data-sap-ui-type="sap.m.App">
		<div data-sap-ui-type="sap.m.Page" data-title="INCOME TAX PROJECTION REPORT" id="page">
		  <div id="error_box">
		      <div class="error"><i class="fa-solid fa-circle-xmark"></i>Error</div>
		      <div class="msg">Year Should be Current Fiscal Year</div>
		      <div class="btn_box"><button class="btn_close" id="btn_close" title="Close" alt="Close">Close</button></div>
		  </div> 
		    <i class="fa-sharp fa-solid fa-download" id="btn" title="Download" alt="Download"></i>
	    	    
            <div style="overflow-x:scroll; margin-top:30px; margin-bottom:50px;">
                    <span id="span">INCOME TAX PROJECTION FOR YEAR </span>
                <form id="form">
        <!--        <table>
        
                    <thead>
                        <tr>
                            <td><img src="../img/BCL.jpg" alt="image" style="background-size: contain;max-width:70%; height:auto;"></td>
                            <td colspan="2">Birla Corporation Limited<br>
                                Income Tax Projection For Year 2022-2023</td>
                            <td>Page no 1.</td>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="emp">
                            <td >Employee Name:</td>
                            <td>xyz</td>
                            <td>Employee code:</td>
                            <td colspan="4">xyz</td>
                        </tr>
                        <tr class="emp">
                            <td>Department:</td>
                            <td>xyz</td>
                            <td>Designation:</td>
                            <td colspan="4">xyz</td>
                        </tr>
                        <tr class="emp">
                            <td>Pan no:</td>
                            <td>xyz</td>
                            <td>Date:</td>
                            <td colspan="4">xyz</td>
                        </tr>
                    </tbody>
        
                   
                    <tr>
                        <th>1) Earnings</th>
                        <th>Monthly</th>
                        <th>Cumulated</th>
                        <th>Projected</th>
                        <th>Total</th>
                    </tr>
                    <tr class="empData">
                        <td>Basic Salary</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Special Allowance</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Adhoc Allowance</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>House Rent Allowance</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Conveyance Allowance</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Personal Allowance</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>House Rent Allowance(%)</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>House Rent Allowance(%)</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>Monthly Regular Income</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>Educational Allowance</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Leave Travel Allowance</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Leave Encashment</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Soft Furnishing</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Leave Travel Allowance</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Child Education Scholarship</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Medical</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>Monthly Irregular Income</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>2) Value of Perquisites</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Electricity (Perks)</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Water (Perks)</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Gas (Perks)</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Annual Perk</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>Previous Gross Salary</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Value of Persk u/s 17(2)</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Profit wrt Salary u/s 17(3)</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Exemption under provision to section</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>3) Gross Salary</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>4) Exemption U/S 10</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Conveyance Annual Exemption</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>HRA Annual Exemption</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>LTA Annual Exemption</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td>Total</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                        <td>xyz</td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    <tr class="empData">
                        <td>5) Balance</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>6) Aggregate of deductions</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>Standard Deduction</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>Professional Tax</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>7) Incm under Hd Salary</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>8) Deds S24 (Maximum Limit)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>9) Gross Total Income</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>10) Aggregate of Chapter VI</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>11) Total Income</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>12) Tax on Total Income</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>13) Tax Payable</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>14) Health and Education Cess</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>15) Tax payable and surcharge</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>16) Tax deducted so far</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>17) Net tax payable</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>18) Income Tax</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>19) Total Tax deductible</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>20) Monthly Health & Edu Cess</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>21) Monthly Amount Paid</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="empData">
                        <td>22) Monthly Tax payable</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                        <tr class="empData">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>-->
    </form>
            </div>
	    </div>
	</div>
</template>